<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MY APP</title>
    </head>
    <body>

        <h2>May Node and Express be with you.</h2>

        <ul class="thoughts-main">
            <% for(var i=0; i<thoughts.length; i++) {%>
            <li class="thought">
                <span><%= thoughts[i].thought %></span>
                <span> --- </span>
                <span><%= thoughts[i].content %></span>
            </li>
            <% } %>
        </ul>

        <div>
            <h3>Rethink thoughts?</h3>
            <button id="update">Second thoughts (wink!)</button>
        </div>

        <div>
          <h2>Perish the thought</h2>
          <button id="delete">Dump a thought (test)</button>
        </div>

        <br /><br />

        <div>
            <form action="/thoughts" method="POST">
                <input id="thought" type="text" placeholder="thought" name="thought">
                <input id="content" type="text" placeholder="content" name="content">
                <button type="submit">Submit</button>
            </form>
        </div>

        <script src="main.js"></script>
    </body>
</html>